.comment{
    width: 70%;
    background-color: #2f6e31;
    padding: 10px;
}

.comment form{
    position: relative;
    margin-bottom: 15px;
}
.comment textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
    resize:none;
    font-size:16px;
}
.comment #comment_submit{
    position: absolute;
    height: 80%;
    top:50%;
    width: 100px;
    border-radius: 15px;
    border: none;
    right:0;
    cursor: pointer;
    transform:translate(0,-50%);
}

.comment li{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #CCC;
    padding: 5px;
}
.comment a{
    margin-bottom: 5px;
}
