<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="section_right" th:fragment="login">

    <div class="section_login">
        <h1>
            로그인
        </h1>
        <form class="login_form">
            <label id="userid">
                <input name="userid" type="text" placeholder="your id">
            </label>
            <label id="password">
                <input name="password" type="text" placeholder="your id">
            </label>
            <input type="submit" value="전송">
        </form>
        <div class="section_help">
            <a href="#">회원 가입</a>
            <a href="#">비밀번호 찾기</a>
        </div>
    </div>
</section>

</body>
</html>