<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav class="nav" th:frgment="nav">
        <ul class="nav_ul">
            <li class="nav_li">
                <a href="/boasting">자랑</a>
            </li>
            <li class="nav_li">
                메뉴1
            </li>
            <li class="nav_li nav_logo">
                <a href="/">로고</a>
            </li>
            <li class="nav_li">
                메뉴1
            </li>
            <li class="nav_li">
                메뉴1
            </li>
        </ul>
    </nav>

</body>
</html>